#heading
{
    font-size: 25px;
    color: blue;
   border: 5px dashed black;
   width: 100%;
   border-radius: 20px;
   box-shadow: 5px 5px 5px red;
}

#note
{
    font-size: 18px;
    color: white;
}

#footer
{
   
    color:white;
    text-align: center;
    line-height:3;
    bottom:0;
    position: fixed;
    width: 100%;
}

canvas
{
    background-color: pink;
    box-shadow: 5px 5px 5px orange;
    padding: 20px;
    margin: 20px;
    border: 5px solid black;
}